.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
    opacity: .5;
}

.modal {
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    background-color: #333;
    border-radius: 16px;
    padding: 1rem;
    z-index: 100;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    padding: .4rem;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}