.books {
    margin-top: 1rem;
}

.books ul {
    width: 80%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 992px) {
    .books ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}